<link rel="stylesheet" type="text/css" href="~/css/Cart.css"> 
<section id="content-wrapper">

    <div class="page-title">
        <div>
            <h1>Cart</h1>
        </div>
        <div>
           <a href="./NewIndent"><button class="common-button common-blue-button"><span class="material-symbols-rounded">add</span>ADD ITEM</button></a> 
        </div>

    </div>

    <div class="container">
                <div class="filter-wrap">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" id="sel1" disabled name="sellist1">
                                    <option value="" id="plant_name" ></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" id="sel2" name="sellist1"></select>
                                <span class="error-msg" id="cartdropbox1" style="display: none;">*The location field is required.</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <select class="form-control" id="sel3" name="sellist1">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" id="sel4" name="sellist1">
                                    <option>Self Pickup</option>
                                    <option>Store</option>
                                </select>
                                <span class="error-msg" id="cartdropbox2" style="display: none;">*The DeliveryType field is required..</span>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="">
                                <input type="checkbox" id="urgent-indent" name="Urgent Indent" value="1">
                                <label for="Urgent Indent">Urgent Indent</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container-fluid">
            <div id="tableid">
                <div class="product-cart-wrapp table-responsive" >
                    <table class="table table-striped" >
                        <thead>
                            <tr>
                                <th>SI No</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Delivery Date</th>
                                <th>Delivery Priority</th>
                                <th>Delivery Days</th>
                                <th>Tracking Plant</th>
                                <th>Where in Plant</th>
                                <th>Reason</th>
                                <th>Where Used</th>
                                <th>Quantity Check By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @* <tr>
                                <td class="vmiddle">
                                    <div>1</div>
                                </td>
                                <td class="vmiddle">
                                    <div>All Pin</div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" class="form-control" id="usr">
                                    </div>
                                </td>
                                <td class="vmiddle">
                                    <div>
                                        $12.5
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="date" class="form-control" id="usr">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="">
                                            <select class="form-control" id="sel1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" class="form-control" id="usr">
                                        <p>0 / 2</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" class="form-control" id="usr">
                                        <p>0 / 20</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input type="text" class="form-control" id="usr">
                                    </div>
                                    <p>0 / 50</p>
                                </td>
                                <td>
                                    <div>
                                        <textarea class="form-control" rows="1" id="comment"></textarea>
                                        <p> 0 / 100</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <textarea class="form-control" rows="1" id="comment"></textarea>
                                        <p>0 / 50</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <div class="">
                                            <select class="form-control" id="sel1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span><a><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                    </div>
                                </td>
                            </tr> *@

                        </tbody>
                    </table>
                </div>
                <div class="cart-buttons-wrap">
                 
                    <button class="common-button common-blue-button" onclick="window.print();return false;"><span class="material-symbols-rounded">print</span> PREVIEW INDENT</button>

                    <button class="common-button common-orange-button"  onclick="clearcart()" data-toggle="modal" data-target="#exampleModalCenter">CLEAR</button>

                    <button type="submit" class="common-button common-yellow-button" onclick="Pordectorder()">PLACE INDENT</button>

                </div>  
            </div>
            <br>
            <div id="showmsg"></div>
            </div>
</section>
<br><br>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/cart/cart.js"></script>

