
@* <link rel="stylesheet" type="text/css" href="~/css/MyRequests.css"> *@

<section id="content-wrapper">

            <div class="container-fluid">
                <div class="indent-main-wrapper">
                    <div class="">


                        <!-- START TABS DIV -->
                        <div class="tabbable-responsive">
                            <div class="tabbable">
                                <ul class="nav nav-pills nav-justified" id="linxea-avenir" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="eleve-tab" data-toggle="tab" href="#eleve"
                                            role="tab" aria-controls="first" aria-selected="true">INDENTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="moyen-tab" data-toggle="tab" href="#moyen" role="tab"
                                            aria-controls="second" aria-selected="false">NEW MATERIAL REQUESTS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="faible-tab" data-toggle="tab" href="#faible" role="tab"
                                            aria-controls="second" aria-selected="false">SERVICE REQUESTS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-content" style="margin-top:2px">
                            <div class="tab-pane fade show active" id="eleve" role="tabpanel"
                                aria-labelledby="eleve-tab">
                                <!-- START TABS DIV -->
                                <div class="tabbable-responsive inner-tab">
                                    <div class="tabbable">
                                        <ul class="nav nav-pills nav-justified" id="eleve-nav" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" onclick="orders('Pending')" id="eleve-eco-tab" data-toggle="tab"
                                                    href="#eleve-eco" role="tab" aria-controls="first"
                                                    aria-selected="true">
                                                        <div class="position">
                                                            PENDIND APPROVALS<span class="badge badgeup badge-success badgepending">1</span>
                                                        </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="orders('Open')" id="eleve-standard-tab" data-toggle="tab"
                                                    href="#eleve-standard" role="tab" aria-controls="second"
                                                    aria-selected="false">
                                                        <div class="position">
                                                           OPEN INDENTS<span class="badge badgeup badge-success badgeopen">1</span>
                                                        </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="orders('Closed')" id="eleve-standard-tab1" data-toggle="tab"
                                                    href="#eleve-standard1" role="tab" aria-controls="second1"
                                                    aria-selected="false">
                                                        <div class="position">
                                                           CLOSE INDENTS<span class="badge badgeup badge-success badgeclose">1</span>
                                                        </div>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" onclick="orders('All')" id="eleve-standard-tab2" data-toggle="tab"
                                                    href="#eleve-standard2" role="tab" aria-controls="second2"
                                                    aria-selected="false">
                                                    <div class="position">
                                                           ALL INDENTS<span class="badge badgeup badge-success badgeall">1</span>
                                                        </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="eleve-eco" role="tabpanel"
                                        aria-labelledby="eleve-eco-tab">

                                        <!-- ****************************************************** -->
                                        <!-- START inner tab one  -->

                                        <div class="indent-tab-filter">
                                            <div class="indent-tab-item search-container">
                                                <form>
                                                    <div class="search-container-inner">
                                                        <input type="number" placeholder="Search by Indent Number Or Material Number" name="search" id="searchIndentNumber">
                                                        <button type="submit"><span class="material-symbols-rounded">search</span></button>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="indent-tab-item">
                                                <button class="common-button common-blue-button">
                                                    <span class="material-symbols-rounded">print</span>
                                                    PRINT
                                                </button>
                                            </div>
                                            <div class="indent-tab-item">
                                                <button class="common-button-icon"><span class="material-symbols-rounded">filter_list</span>
                                                </button>
                                            </div>
                                            <div class="indent-tab-item">
                                                <button class="common-button common-blue-button"><span class="material-symbols-rounded">add</span> NEW
                                                    INDENT</button>
                                            </div>
                                        </div>




                                        <div>
                                            <div id="main">
                                                <div class="accordion accordionbody" id="faq">
                                                
                                                </div>
                                            </div>
                                        </div>


                                        <!-- ****************************************************** -->
                                        <!-- END inner tab one -->
                                        <div>
                                            <!--Pagination 4-->
                                            <nav class="pagination-wrap"
                                                aria-label="pagination example" style="display: flex;flex-direction: row;justify-content: center;">
                                                <ul class="pagination pagination-circle justify-content-center" id="paginationlist" > </ul>
                                            </nav>
                                        </div>

                                    </div>
                                    @* <div class="tab-pane fade" id="eleve-standard" role="tabpanel"
                                        aria-labelledby="eleve-standard-tab">

                                        <!-- ****************************************************** -->
                                        <!-- START SECTION 2 -->

                                        <p>exemple 2</p>

                                        <!-- ****************************************************** -->
                                        <!-- END SECTION 2 -->

                                    </div>
                                    <div class="tab-pane fade" id="eleve-standard1" role="tabpanel"
                                        aria-labelledby="eleve-standard-tab1">

                                        <!-- ****************************************************** -->
                                        <!-- START SECTION 3 -->

                                        <p>exemple 3</p>

                                        <!-- ****************************************************** -->
                                        <!-- END SECTION 3 -->

                                    </div>
                                    <div class="tab-pane fade" id="eleve-standard2" role="tabpanel"
                                        aria-labelledby="eleve-standard-tab2">

                                        <!-- ****************************************************** -->
                                        <!-- START SECTION 4 -->

                                        <p>exemple 4</p>

                                        <!-- ****************************************************** -->
                                        <!-- END SECTION 4 -->

                                    </div> *@
                                </div>

                            </div>

                            <div class="tab-pane fade" id="moyen" role="tabpanel" aria-labelledby="moyen-tab">

                                <div class="tab-content" style="margin-top:2px">
                                    <div class="tab-pane fade show active" id="moyen" role="tabpanel"
                                        aria-labelledby="moyen-tab">
                                        <!-- START TABS DIV -->
                                        <p>main-tab 2</p>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="faible" role="tabpanel" aria-labelledby="faible-tab">

                                <div class="tab-content" style="margin-top:2px">
                                    <div class="tab-pane fade show active" id="faible" role="tabpanel"
                                        aria-labelledby="faible-tab">
                                        <!-- START TABS DIV -->
                                        <p>main-tab 3</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </section>
<br>
<br>

<!-- The Modal -->
    <div class="modal fade timeline-modal-wrap" id="indent-timeline-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Indent Timeline</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="timeline" id="timeline">
                        @* <div class="timeline-container warning">
                            <div class="timeline-icon">
                                <i class="far fa-grin-wink"></i>
                            </div>
                            <div class="timeline-body">
                                <h4 class="timeline-title">
                                    <span class="badge">INDENT CREATED</span>
                                    <span class="badge">Quantity: 1 </span>
                                </h4>
                                <p>Placed by Indent User Indent user At 29th Jun 2023 , 11:03:11 am</p>
                                <p class="timeline-subtitle">1 Hours Ago</p>
                            </div>
                        </div> *@
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade timeline-modal-wrap" id="indentApproval">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Indent Approval Flow</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="timeline" id="timelinebody">
                        @* <div class="timeline-container warning">
                            <div class="timeline-icon">
                                <i class="far fa-grin-wink">1</i>
                            </div>
                            <div class="timeline-body">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                                    necessitatibus <b>Indent Manager</b>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                                </p>
                                <p class="timeline-subtitle">1 Hours Ago</p>
                            </div>
                        </div> *@
                        @* <div class="timeline-container primary">
                            <div class="timeline-icon">
                                <i class="far fa-grin-hearts"></i>
                            </div>
                            <div class="timeline-body">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                                    necessitatibus <b>Indent Manager</b>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                                </p>
                                <p class="timeline-subtitle">2 Hours Ago</p>
                            </div>
                        </div>
                        <div class="timeline-container info">
                            <div class="timeline-icon">
                                <i class="far fa-grin-tears"></i>
                            </div>
                            <div class="timeline-body">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                                    necessitatibus <b>Indent Manager</b>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                                </p>
                                <p class="timeline-subtitle">6 Hours Ago</p>
                            </div>
                        </div>
                        <div class="timeline-container success">
                            <div class="timeline-icon">
                                <i class="far fa-grimace"></i>
                            </div>
                            <div class="timeline-body">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                                    necessitatibus <b>Indent Manager</b>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                                </p>
                                <p class="timeline-subtitle">1 Day Ago</p>
                            </div>
                        </div>
                        <div class="timeline-container danger">
                            <div class="timeline-icon">
                                <i class="far fa-grin-beam-sweat"></i>
                            </div>
                            <div class="timeline-body">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                                    necessitatibus <b>Indent Manager</b>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                                </p>
                                <p class="timeline-subtitle">3 Days Ago</p>
                            </div>
                        </div>
                        <div class="timeline-container ">
                            <div class="timeline-icon">
                                <i class="far fa-grin"></i>
                            </div>
                            <div class="timeline-body">

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
                                    necessitatibus <b>Indent Manager</b>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus
                                </p>
                                <p class="timeline-subtitle">4 Days Ago</p>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- custom Modal center model yes and no  -->
<div class="modal fade" id="customModalCentermy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-headermy">
                <h5 class="modal-titlemy" id="exampleModalLongTitle">
                    <span class="material-symbols-rounded">warning</span>
                    Replace Cart Material
                </h5>
                <button type="button" class="close" data-dismiss="modal" onclick="popClose('customModalCenter')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-bodymy">
                <p>Your Cart contains materials Do you want to
                    discard the selection and add materials from
                    Central Gen Stor?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="common-button common-red-button" data-dismiss="modal" onclick="popClose('customModalCenter')">No</button>
                <button type="button" class="common-button common-blue-buttonmy">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- custom Modal center model yes and no  -->

<div class="spinnerbody" id="spinnerbody">
    <div class="spinnerchild">
        <div class="spinner-border text-success " role="status">
            <span class="sr-only"></span>
        </div>
        <span>Loading....</span>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
@* table script *@
@* <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> *@

<script src="~/js/main.js"></script>
<script src="~/js/MyRequests/MyRequests.js"></script>


@* <span class="material-symbols-rounded">visibility</span> *@