<link rel="stylesheet" type="text/css" href="~/css/Home/NewIndent.css">
<section id="content-wrapper">

      <div class="filter-wrap">
        <div class="row">
          <div class="col-md-2">
            <div class=""><h3> New Indent</h3></div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <select class="form-control" id="myDropdown1" name="sellist1">
            @* option value from api *@
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="search-container">
              <form>
                <div class="search-container-inner">
                  <input type="text" id="searchIndent" placeholder="Search.." name="search">
                  <button type="submit"><span class="material-symbols-rounded">search</span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">

              <select class="form-control" id="myDropdown2" name="sellist1">
                <option value="alphabetically">Alphabetically</option>
            @* <span class="material-symbols-rounded">sort_by_alpha</span> *@
                <option value="pricelowtohigh">Price Low to High</option>
            @* <span class="material-symbols-rounded">south</span> *@
                <option value="pricehightolow">Price High to Low</option>
            @* <span class="material-symbols-rounded">sort</span> *@
              </select>

            </div>
          </div>
          <div class="col-md-1">
            <div class="filter-btn-wrap">
              <button type="submit"><span class="material-symbols-rounded">filter_alt</span></button>
            </div>

          </div>

        </div>
      </div>

      <div class="container-fluid">
    @* card *@
        <div class="product-card-wrap">
          <div class="row" id="cardbody" >
        @* js call *@
          </div>
        </div>
    @* card end *@
      </div>

    <div>
        <!--Pagination 4-->
        <nav class="pagination-wrap"
            aria-label="pagination example" style="display: flex;flex-direction: row;justify-content: center;">
            <ul class="pagination pagination-circle justify-content-center" id="paginationlist" > </ul>
        </nav>
    </div>
    <br>
    <br>
    </section>

<div class="spinnerbody" id="spinnerbody">
    <div class="spinnerchild">
        <div class="spinner-border text-success " role="status">
            <span class="sr-only"></span>
        </div>
        <span>Loading....</span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/main.js"></script>
<script src="~/js/Home/NewIndent.js"></script> 