 <section id="content-wrapper">

      <div class="filter-wrap">
        <div class="row">
          <div class="col-md-2">
            <div class=""><h3> New Indent</h3></div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <select class="form-control" id="myDropdown1" name="sellist1">
               @* option value from api *@
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="search-container">
              <form>
                <div class="search-container-inner">
                  <input type="text" id="searchIndent" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">

              <select class="form-control" id="myDropdown2" name="sellist1">
                <option value="alphabetically">Alphabetically</option>
                <option value="pricelowtohigh">Price Low to High</option>
                <option value="pricehightolow">Price High to Low</option>
              </select>

            </div>
          </div>
          <div class="col-md-1">
            <div class="filter-btn-wrap">
              <button type="submit"><i class="fa fa-filter"></i></button>
            </div>

          </div>

        </div>
      </div>

      <div class="container-fluid">
        @* card *@
        <div class="product-card-wrap">
          <div class="row" id="cardbody" >
                @* js call *@
          </div>
        </div>
        @* card end *@
      </div>

    </section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
